.Rproj.user
.Rhistory
.RData
.Ruserdata
# All netcdfs
*.nc
*.rds
/BOM Data/*
/Upwelling/*
/Fisheries Data/*
/Wind Data/All Estuaries Modelled Wind Data speed direction.csv
/Wind Data/Wind_data_full_all_estuaries_vectors.csv
*.pptx