.Rproj.user
.Rhistory
.RData
.Ruserdata
# All netcdfs
*.nc
*.rds
/BOM Data/*
/plots/*
/Fisheries Data/*
*.pptx
*.docx
Wind Library*
MapData.RData
/Not for Github/*
/Scripts/Scripts not in final analysis/*
