.Rproj.user
.Rhistory
.RData
.Ruserdata
# All netcdfs
*.nc
*.rds
/BOM Data/*
/Upwelling/*
/Feedback/*
/Literature/*
/Iain/*
/plots/*
/Fisheries Data/*
/Wind Data/*
/Wind DataV3/*
*.pptx
*.docx
Wind Library*
MapData.RData
